﻿@model CypherModel
@{
    ViewData["Title"] = "Home Page";
}


<form method="post" enctype="multipart/form-data">



    <div class="bs-example">

        <div class="form-group centerlook">
            <h1> Ввести с клавиатуры </h1>
        </div>

        <div style="display:inline-block" id="textInput">
            @Html.TextAreaFor(model => model.Text, new { @cols = 60, @rows = 10, @placeholder = "Введите текст", @style="resize: none" })<br />
            @Html.ValidationMessageFor(model => model.Text)

        </div>
        <div style="display:inline-block">
            <textarea cols="60" rows="10" placeholder="Здесь будет результат" style="resize:none" disabled>@ViewBag.Text</textarea>
        </div>
        <br />
        <br />
        <div class="form-group" style="display:inline-block">
            <input type="text" asp-for="Key" placeholder="Ключ" /><br />
            @Html.ValidationMessageFor(model => model.Key)

        </div>
        <div class="form-group centerlook" style="display:inline-block;  margin-left: 10px">
            Зашифровать
            @Html.RadioButtonFor(model => model.Action, "cypher")

            Расшифровать
            @Html.RadioButtonFor(model => model.Action, "decypher")
        </div>

        <div class="loginbtn" style="display:inline-block; margin-left: 30px">

            <input type="submit" value="Отправить" class="btn btn-primary" />

        </div>
        <br />
        <div class="form-group error">
            @if (ViewBag.ErrorMessage != null)
            {
                <font color="red">
                    <label> @ViewBag.ErrorMessage </label>
                </font>
            }
        </div>
    </div>
</form>
