﻿@model CypherModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<form method="post" enctype="multipart/form-data">



    <div class="bs-example">

        <div class="form-group centerlook">
            <h1> Загрузить текст из файла </h1>
        </div>

        <div class="form-group centerlook">
            <input type="text" asp-for="Key" placeholder="Ключ" /><br />
            @Html.ValidationMessageFor(model => model.Key)

        </div>
        <div class="form-group centerlook" id="fileInput">
            <input asp-for="TextFile" type="file" name="file">
        </div>
        <div class="form-group centerlook">
            Зашифровать
            @Html.RadioButtonFor(model => model.Action, "cypher")
            <br />
            Расшифровать
            @Html.RadioButtonFor(model => model.Action, "decypher")
        </div>
        <div class="form-group error">
            @if (@ViewBag.Text != null)
            {

                <label> @ViewBag.Text</label>
                <br />
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <font color="red">
                    <label> @ViewBag.ErrorMessage </label>
                </font>
            }
        </div>
        <div class="loginbtn">

            <input type="submit" value="Отправить" class="btn btn-primary" />

        </div>
    </div>
</form>
